<form action="/create" method="POST">
  <h2 class="cpage">Создать задачу</h2>

  <div class="input-field">
    <input type="text" name="title" autofocus>
    <label>Todo title</label>
  </div>
  <div>
    <button type="submit" class="btn">Создать</button>
    <a href="/" class="btn">Назад</a>
  </div>
</form>