<h1 class="center">Регистрация</h1>
<form action="/register" method="POST">
  <div class="row">
    <div class="input-field col s12 m4 l6 offset-l3 center">
      <i class="material-icons prefix">account_circle</i>
      <input id="icon_prefix" type="text" class="validate" name="name" required>
      <label for="icon_prefix">Name</label>

      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input id="icon_telephone" type="email" class="validate" name="email" required>
        <label for="icon_telephone">Email</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input id="icon_telephone" type="password" class="validate" name="password" required>
        <label for="icon_telephone">Password</label>
      </div>
      <button class="btn btn-small waves-effect red lighten-2">Зарегистрироваться</button>
      <a href="/login" class="btn btn-small waves-effect red lighten-2">Войти</a>
    </div>
  </div>
</form>