/*@import '~materialize-css';*/

.todo {
    margin-bottom: 1rem;
}

.todo span.completed {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}

.todo i {
    z-index: 2;
}

nav .brand-logo {
    padding: 0 2rem;
    font-weight: bold;
}

.tpage {
    font-weight: bold;
}

.navli {
    font-weight: bold;
}

.cpage {
    font-weight: bold;
}

.ermessage {
    color: red;
}

.sucmessage {
    color: green;
}

.iconReg {
    font-size: 70px;
    vertical-align: bottom;
}

.iconLog {
    font-size: 55px;
    vertical-align: bottom;
}

.comleteTask {
    margin-top: 30px;
}

/*!* The alert message box *!*/
/*.alert {*/
/*    padding: 20px;*/
/*    background-color: #f44336; !* Red *!*/
/*    color: white;*/
/*    margin-bottom: 15px;*/
/*}*/

/*!* The close button *!*/
/*.closebtn {*/
/*    margin-left: 15px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    float: right;*/
/*    font-size: 22px;*/
/*    line-height: 20px;*/
/*    cursor: pointer;*/
/*    transition: 0.3s;*/
/*}*/

/*!* When moving the mouse over the close button *!*/
/*.closebtn:hover {*/
/*    color: black;*/
/*}*/